<div class="jumbotron">
<?php if( auth()->check() ) { ?>
<h2>Вы успешно авторизировали в системе!</h2>
<?php } else { ?>
<h2>Добро пожаловать в тестовое задание!</h2><br />
Логи: user@test.local, Пароль: test
<?php } ?>
</div>
